<h3>Edit @menu.name</h3>
<%= form_with model: @menu do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :description, placeholder: "description" %>
  <%= form.text_field :price, placeholder: "price" %>
  <%= form.label :category %>
  <%= form.select :category_id, @category %>
  <%= form.submit %>
<% end %>