<h1> List of Orders </h1>
<table>
  <thead>
    <tr>
        <td><b>Order ID</b></td>
        <td><b>Email</b></td>
        <td><b>Date Order</b></td>
        <td><b>Status</b></td>
        <td><b>Action</b></td>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>Order <%= order.id %></td>
        <td><%= order.email %></td>
        <td><%= order.date_order %></td>
        <td><%= order.status %></td>
        <td><%= link_to "Show", order_path(order) %></td>
        <td><%= link_to "Edit", edit_order_path(order) %></td>
        <td><%= button_to "Delete", order, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<a href="/orders/new">New Order</a>